

<div class="p-4 text-center">
    <h4>Hasta bilgileri girmek için butona tıklayınız</h4>
    <a id="tarihgetir" asp-controller="Hastabilgi"  asp-action="AddHasta" class="btn btn-primary">Tıkla</a>
</div>
